* {
    box-sizing: border-box;
    padding: 5px 5px;
}

h5 {
  text-align: center;
}

ul li {
  margin-bottom: 2%;
  margin-left: 5%;
}

/* make app link stuff */
.app-display {
    border: 1px solid #bbb; /* Dotted border */
    width: 90%;
    border-radius: 5px; /* Rounded border */
    margin: 0 auto; /* Center the coupon */
    max-width: 600px;
    box-shadow: 5px 2px gray;
    padding: 5px 5px;
}



/* set responsive row columns */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 4px 4px;
  }
  
  .column img {
    vertical-align: middle;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  footer {
    margin-top: 2%;
    border-top: 1px solid gray;
    text-align: right;
    font-style: italic;
    font-size: 10px;
  }


  .hide {
    display: none;
  }

  .myDIV {
    display: flex;
    background-color: aliceblue;
    color: black;
    padding: 8px;
    font-size: 20px;
    border: none;
    box-shadow: 4px 4px 2px 1px rgb(0,0,0,0.2);
    /* cursor: pointer; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .myDIV a {
    font-style: normal;
  }
  
  .myDIV:hover + .hide {
    display: block;
    background-color: white;
    color: black;
    padding: 8px;
    font-size: 12px;
    border-left: solid rgb(208, 207, 207) 1px;
    border-top: solid aliceblue;
    box-shadow: 4px 4px 2px 1px rgba(0,0,0,0.2);
    /*width:95%;*/
  }